# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj
#因為我們要備份 3D模型檔案

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
# *.lib
#因為我們要備份 所以要將freeglut目錄內的freeglut32.a等檔案

# Executables
*.exe
*.out
*.app
